PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/usr/local/go/bin"
TR_AUTH="{{tr_auth}}"
MPD_HOST="{{mpd}}"
MPD_PORT={{mpd_port}}
XDG_CURRENT_DESKTOP=GNOME
VSCODE_GALLERY_SERVICE_URL='https://marketplace.visualstudio.com/_apis/public/gallery'
VSCODE_GALLERY_CACHE_URL='https://vscode.blob.core.windows.net/gallery/index'
VSCODE_GALLERY_ITEM_URL='https://marketplace.visualstudio.com/items'
VSCODE_GALLERY_CONTROL_URL=''
VSCODE_GALLERY_RECOMMENDATIONS_URL=''
