/**
 * This theme is intended for a 8x2 items list menu with a headerbar.
 */
@import "shared/settings.rasi"
* {
  // background-color: @background;
  background-color: rgba ( 28, 28, 28, 95 % );
  text-color: @foreground-list;
  font: @text-font;
}
listview {
  columns       : 2;
  spacing       : 5px;
  fixed-height  : true;
  fixed-columns : false;
}
#window {
  padding: @list-8-window-padding;
}
inputbar,
prompt,
textbox-prompt-colon,
entry {
  background-color: @background-light;
}
#inputbar {
  children: [ prompt, textbox-prompt-colon, entry ];
  margin: @inputbar-margin;
}
#prompt {
  padding: @prompt-padding;
  background-color: @accent;
  text-color: @background;
}
#textbox-prompt-colon {
  expand: false;
  str: "  : :  ";
  padding: @apps-textbox-prompt-colon-padding;
}
#entry {
  text-color: @accent;
  padding: @entry-padding;
}
#element {
  padding: @list-element-padding;
  margin: @list-element-margin;
  border: @list-element-border;
  background-color: @background-light;
  border-color: @background-light;
}
#element-text {
  background-color: inherit;
  vertical-align: 0.5;
}
#element-icon {
  background-color: inherit;
  margin: 0px 12px 0px 0px;
  size: 3ch;
}
#element.selected {
  background-color: @background-focus;
  text-color: @accent;
  border-color: @accent;
}



